<%= form_with(model: [@list, task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, size: "1x7", class:"text-area" %>
  </div>
  <div class="actions">
    <%= form.submit "Accept", class: "btn btn-primary w-100 mb-2 rounded-10"%>
  </div>
<% end %>
