<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 pt-5">
      <div class="d-flex flex-column">
        <div class="d-flex flex-column align-items-center">
          <%= render "devise/shared/error_messages", resource: current_user %>
          <h1>Edit profile picture</h1>
          <div class="img-size mb-4 mt-3">
            <% if current_user.avatar.attached? %>
              <%= image_tag url_for(current_user.avatar), class: "img-thumbnail h-100 shadow rounded" %>
            <% else %>
              <%= user_gravatar(current_user) %>
            <% end %>
          </div>
        </div>
        <%= form_with(model: current_user, local: true) do |form| %>
          <div class="field mb-3">
            <div class="custom-file">
              <%= form.file_field :avatar, class: "custom-file-input", id: "customFile",  accept: "image/x-png,image/jpeg" %>
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <div class="actions">
            <%= form.submit "Update", class: "btn btn-primary w-100 rounded-10" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
